/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.containerLogin { 
    
}
/* Header */
.header {
    background-color: maroon;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.header h1 {
    margin: 0;
}

.nav-links {
    display: flex;
    justify-content: flex-end;  /* Align the links to the right */
    align-items: center;
    flex-grow: 1;
}

.nav-links a {
    color: white;
    margin-left: 20px;  /* Add space between links */
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Full-Width Banner Slider */
.banner-slider {
    position: relative;
    width: 100%;
    height: 500px;  /* You can adjust the height based on your needs */
    overflow: hidden;
    background-color: #f1f1f1; /* Fallback background color */
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Individual Slide */
.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide.active {
    display: block;
}

/* Full-Width Banner Image */
.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Ensures the image covers the entire container without distortion */
    object-position: center; /* Centers the image */
}

/* Company Profile Section */
.company-profile {
    margin: 20px 0;
    padding: 15px;
    border: 2px solid #e7e7e7;
    background-color: #f9f9f9;
    text-align: center;
}

.company-profile h2 {
    color: #333;
}

.company-profile p {
    color: #666;
    line-height: 1.6;
    text-align: justify;
}

/* Footer */
.footer {
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 25px ;
    margin-top: 30px;
}

/* Controls */
.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.controls .prev, .controls .next {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.controls .prev:hover, .controls .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Dots */
.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #428bca;
}